NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32


COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=

AWS_ACCESS_KEY_ID="Your AWS Access Key ID"
AWS_SECRET_ACCESS_KEY="Your AWS Secret Access Key"
AWS_REGION="us-east-1"
